h1, h3 {
    color: fuchsia;
    text-decoration: none;
    font-family: 'Marker Felt, fantasy', Arial, sans-serif;
    font-weight: 500;
}

h2 {
    color: skyblue;
}

a:link {
    color: fuchsia;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: skyblue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}